<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Clear QR code Images</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }

        h1 {
            color: #2e8b57;
        }

        p {
            font-size: 18px;
        }

        a {
            font-size: 18px;
            color: #1e90ff;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <h1>QR Code Images Cleared</h1>
    <p>All QR Code images have been deleted..</p>
    <p>
        <a href="/lmt/">Go back to the main page</a>
    </p>
</body>

</html>